<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Редактировать работника</title>
<style>
body{background:#000;color:white;font-family:Arial;}
.card{width:360px;margin:80px auto;padding:25px;background:#050505;border-radius:15px;
box-shadow:0 0 25px rgba(0,242,195,0.6);text-align:center;}
input,button{width:90%;padding:10px;margin:8px 0;border-radius:8px;border:none;}
button{background:#00f2c3;font-weight:bold;cursor:pointer;}
a{color:#00f2c3;text-decoration:none;}
</style>
</head>
<body>
<div class="card">
<h2>{{ worker.username }}</h2>

<form method="POST">
<input type="text" name="new_username" placeholder="Новое имя">
<input type="password" name="new_password" placeholder="Новый пароль">
<button type="submit">Сохранить</button>
</form>

<br>
<a href="/admin_workers_panel">← Назад</a>
</div>
</body>
</html>
